.search-input {
    width: 600px;
}

.dropdown-results {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.search-result {
    background-color: white;
    text-align: left;
}